pandas
streamlit
opencv-python
numpy
pillow
streamlit-webrtc

# Download the Program Requirements File by
# Copy and Paste the Text Below to your Environment Terminal
# Remove the "#"
# pip install -r requirements.txt

# Run the program by Typing the Below Text
# streamlit run main.py
# Remove the "#"
